/*登陆*/
.index_div {
    margin-top: 200px;
    margin-bottom: 80px;
}
.index_form {
    max-width: 350px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.index_h2 {
    margin-bottom: 30px;
}
.form_input {
    font-size: 16px;
    padding: 8px;
}
.form_div2{
    margin-bottom: 20px;
}
.form_button{
    border: none;
    color: white;
    font-family:Arial;
    padding: 10px 24px;
    text-align: center;
    font-size: 18px;
    margin: 4px 20px 0 0;
    cursor: pointer;
}
.index_a{
    margin: 0 15px 0 0;
}

/*注册*/
.Register_form {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.Register_input {
    font-size: 15px;
    padding: 8px;
    margin-bottom: 10px;
}
.Register_div{
    margin: 0px auto 5px 0px;
}
.Register_h5{
    margin-bottom: 15px;
}
.Register_textarea{
    font-size: 15px;
    padding: 8px;
    margin-bottom: 10px;
    resize: none;
}


/*主页*/
.home_dl{
    margin:20px 20px 0 20px;
    float:left;
    border:1px solid rgba(0, 0, 0, 0.1);
}
.home_dt{
    width:180px;
    margin:10px;
    height:120px;
    text-align: center;
}
.home_dd{
    width:180px;
    margin:auto;
    height:30px;
    line-height:30px;
    text-align: center;
}
.home_div4{
    font-size: 25px;
    color: black;
    font-weight: bold;
    font-family:宋体;
    margin-left: 325px;
}
.home_div2{
    width: 1300px;
    margin: auto;
    text-align: center;
}
.home_typediv{
    float: left;
    margin: 20px 0 0 150px;
}
.home_a{
    float: right;
    margin: 0 10px;
}
.home_head{
    background-color: whitesmoke;
}

.home_li {
    font-size: 20px;
    font-family: 微软雅黑;
    font-weight: bold;
    list-style-type:none;
    margin-bottom: 10px;
}
.home_li2{
    font-size: 14px;
    font-family: 微软雅黑;
    list-style-type:none;
    margin-bottom: 5px;
    text-align: left;
}
.home_div5{
    float: right;
    margin-right: 20px;
    margin-top: 15px;
}

.home_button{
    border: none;
    color: white;
    font-family:Arial;
    padding: 10px 24px;
    text-align: center;
    font-size: 12px;
    margin: 4px 20px 0 0;
    cursor: pointer;
}

/*搜索结果*/
.search_div{
    width: 1200px;
    margin: auto;
    text-align: center;
}
.search_table{
    width:100%;
    border:1px solid rgba(0, 0, 0, 0.1);
}

.search_td{
    width: 25%;
}
.search_li{
    font-size: 16px;
    font-family: 微软雅黑;
    font-weight: normal;
    list-style-type:none;
    margin-bottom: 10px;
}
.search_em{
    color: red;
    font-size: 25px;
}
.search_div2{
    background-color: aliceblue;
    text-align: left;
}

/*宠物详情*/
.pet_div1{
    width: 1400px;
    margin: auto;
}

/*通用*/
.left_float{
    float: left;
    margin-left: 10px;
}
.clear{
    clear: both;
}
.height{
    height: 50px;
}
.height2{
    height: 10px;
}
.total_div{

}
.warning{
    font-family: 宋体;
    font-size: 9px;
    color:red;
}

a{
    text-decoration: none;
}
body{
    font-size:16px;
    line-height:1.8;
    margin:auto;
}
*{
    margin:0;
    padding:0;
}

